<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.erickogi14gmail.assettrack">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".NetworkUtills.volley.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Views.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.AssetActivity"
            android:label="@string/title_activity_asset"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.Login.Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.CreateAsset"
            android:label="@string/title_activity_create_asset"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.AssetList"
            android:label="@string/title_activity_asset_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.V1.Installation"
            android:label="@string/title_activity_installation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.V1.Service"
            android:label="@string/title_activity_service"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.V1.Admin.AdminMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.V1.Admin.ActivityManageStatus"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.V1.Admin.ActivityManageAssets"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.V1.Admin.ActivityManageEngineers"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.V1.Admin.ActivityManageClients"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>